ul{
    list-style-type:none ; 
    padding: 0;
    margin: 0;
    overflow: hidden;
    background-color: bisque;
 }

 li{
     float: left;
 }

 li a{
     text-decoration: none;
     font-size: 30px;
     padding-left: 20px;
 }

.image1 img{
 position: relative;
 top: 10px;
}

.image2{
 position: relative;
 top: -260px;
 left: 900px;
 
}

.name1{
 padding-left: 80px;
 font-size: 25px;
}

.name2{
 font-size: 25px;
 padding-left: 60px;
}


.container-box{
 border: 1px solid black;
 width: 350px;
 height: 450px;
 display: inline-block;
position: relative;
left: 150px;
margin: 10px;
}

.para{
 text-align: center;
 line-height: 30px;
 
}

im{
 width: 100px;
 height: 100px;
}


.container img{
    width: 400px;
    height: 250px;
    position: relative;
    top:100px;
    left: 100px;
}

.name{
    position: relative;
    top: -130px;
    left: 600px;
}

.info{
    /* border: 1px solid black; */
    width: 500px;
    margin-top: -150px;
    margin-left:600px ;
    font-size: 20px;
    line-height: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}